/*cover video*/
#cover{
    position: absolute;
    left: 50%;
    top: -10%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}