html, body{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    font-family: Arial;
    /*font-family: comfortaa bold;*/
    font-family: Comfortaa;
    background-color: black;
    z-index: 0;
}

a{
    color: #000;
    text-decoration: none;
}

.header{
    position: relative;
    width: 100%;
    height: auto;
}

.cover-vdi{
    z-index: 1;
    height: auto;
    width: auto;
}

.register-page-main{
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 200px;
    /*border: 2px solid seagreen;*/
    padding-top: 5px;
    background: rgba(50,50,50,0.7);
}

.left{
    margin-top: 50px;
    position: absolute;
    height: auto;
    width: auto;
    right: calc(50%);
    left: 10%;
    top: 0px;
    /*border: solid 2px pink;*/
}
.left p {
    font-size: 20px;
    color: #d1d2d2;
}

.news-slide{
    /*background-color: #3F71AE;*/
    width: 100%;
    height: 700px;
    padding-top: 60px;
    position: static;
}

/*testing*/
.testing-border-red{
    border: 2px solid red;
}
.testing-border-blue{
    border: 2px solid blue;
}
.testing-border-magenta{
    border: 2px solid magenta;
}
.testing-border-greenyellow{
    border: 2px solid greenyellow;
}
.testing-border-brown{
    border: 2px solid brown;
}
.testing-border-darkorange{
    border: 2px solid darkorange;
}


/*font import*/
@font-face{
    font-family: remachine;
    src: url('../font/use_remachine/RemachineScript_Personal_Use.ttf') format("truetype");
}
@font-face{
    font-family: chasing;
    src: url('../font/use2_chasing/ChasingEmbersDemoVersion.ttf') format("truetype");
}
@font-face{
    font-family: comfortaa;
    src: url('../font/title/Comfortaa-Light.ttf') format("truetype");
}
@font-face{
    font-family: comfortaa;
    src: url('../font/title/Comfortaa-Regular.ttf') format("truetype");
    font-weight: normal;
}
@font-face{
    font-family: comfortaa;
    src: url('../font/title/Comfortaa-Bold.ttf') format("truetype");
    font-weight: bold;
}
@font-face{
    font-family: geosans;
    src: url('../font/content/GeosansLight.ttf') format("truetype");
}
@font-face{
    font-family: geosans;
    src: url('../font/content/GeosansLight-Oblique.ttf') format("truetype");
    font-weight: bold;
}

